.menuRight {
  display: flex;
  a {
    margin-right: $gutter/4;
  }

  .menuRight-buttons {
    display: flex;
    gap: $gutter/3;
    .menuRight-buttons_item {
      @include min($md) {
        &:last-child {
          display: none;
        }
      }
    }
  }
}
