.search-hide {
  display: none;
}

.search-show {
  display: block;
}
.sc-eCImPb {
  height: 46px;
  min-width: 350px;
  position: absolute !important;
  right: 12%;
  margin-top: 1rem;
  @include max($sm) {
    left: 2.3%;
  }
  .wrapper {
    border-radius: 10px !important;
    font-family: $font !important;
  }
}
.result-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  .result-span__model {
  }
}
